<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="style_small.css" media="screen and (min-width: 0px)">
            <link rel="stylesheet" href="style_med.css" media="screen and (min-width: 0px)">
            <link rel="stylesheet" href="style_medium.css" media="screen and (min-width: 1000px)"> -->
    <link rel="stylesheet" href="animations.css">
    <title>Chemistry Cards</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>

  <body ng-app="chemistry" ng-controller="MainCtrl">
      <div class="main_title">
          CHEMISTRY STYLES FINDER</div>
      <div class="subtitle">Select categories to filter cards</div>



      <div class="options_container">
          <label ng-repeat="option in options" class="option" id="option">
              <input type="checkbox" class="check" ng-model="option.selected" />  <span>{{option.name | uppercase}}</span>

          </label>
      </div>



      <div class="cards" id="cards">
          <div ng-repeat="card in cards | filter:itemFilter" class="card_background">
              <div class="card_title">{{card.name | uppercase}}</div>
              <div class="card_properties">
                  <div ng-repeat="attr in card.attrs">{{attr}} <span class="card_properties_number">+{{num(card.attrs)}}</span>
                  </div>
              </div>
          </div>
      </div>



      
      <script src="ang.js"></script>
  </body>
</html>
